<!-- Begin Footer -->
			<footer class="footer-light">
			    <div class="container">
			        <div class="row">
			            <!-- About -->
			            <div class="col-sm-3">
			                <div class="heading-footer"><h4>About</h4></div>
			                <p>Save your Perfect Settings by Town and Trail with MyTrailBeta. Shred Happy, Again and Again.</p>

			            </div>

			            <!-- Social -->
			            <div class="col-sm-3 mg25-xs">
			                <div class="heading-footer"><h4>Social Networks</h4></div>
			                <a class="btn btn-social-icon btn-twitter btn-lg">
			                    <i class="fa fa-twitter"></i>
			                </a>
			                <a class="btn btn-social-icon btn-facebook btn-lg">
			                    <i class="fa fa-facebook"></i>
			                </a>
			            </div>
			            <!-- Contact -->
			            <div class="col-sm-3 mg25-xs">
			                <div class="heading-footer"><h4>Contact us</h4></div>
			                <p><span class="ion-home footer-info-icons"></span><small class="address">PO Box 1702, Nederland, Co 80466</small></p>
			                <p><span class="ion-email footer-info-icons"></span><small class="address"><a href="mailto:joe.minock@gmail.com">info@MyTrailBeta.com</a></small></p>
			                <p><span class="ion-ios7-telephone footer-info-icons"></span><!--<small class="address">+18109231378</small>--></p>
			            </div>
			            <!-- Recent Work -->
			            <div class="col-sm-3 hidden-xs">

			            </div>
			        </div><!-- /row -->
			        <!-- Copyright -->
			        <div class="row">
			            <hr class="dark-hr">
			            <div class="col-sm-11 col-xs-10">
			                <p class="copyright">© <%= Date.current.year %> MinockMade, LLC. All rights reserved. Built in Nederland, Co by Joe Minock | <a href="http://minockmade.com">MinockMade</a></p>
			            </div>
			            <div class="col-sm-1 col-xs-2 text-right">
			                <a href="#" class="scroll-top"><div class="footer-scrolltop-holder"><span class="fa fa-angle-up" aria-hidden="true"></span></div></a>

			            </div>
			        </div><!-- /row -->
			    </div><!-- /container -->
			</footer><!-- /footer -->
			<!-- End Footer -->
