<!-- Header Start -->
<header id="menu" class="header header-transparent header-sticky">
  <nav class="navbar">
    <div class="container">
      <div class="menu-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="top-bar"></span>
          <span class="middle-bar"></span>
          <span class="bottom-bar"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="nav-tools">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a id="menu-search" href="javascript:void(0);">
                <i class="ei ei-search-alt"></i>
              </a>
            </li>
          </ul>
          <form action='#' id='search' method='get'>
            <div class="search-input">
              <div class="container">
                <input class="search" placeholder='Search...' type='text'>
                <button class="submit ei ei-search" type="submit" value="close"></button>
              </div>
            </div>
            <button class="ei ei-close" id="close" type="reset"></button>
          </form>
        </div>
        <div class="nav-logo">
          <a class="logo" href="index.html"><img class="logo-light" src="assets/images/logo/logo-1.png" alt="Eastern"></a>
          <a class="logo" href="/"><img class="logo-dark" src="assets/images/logo/logo-2.png" alt="Eastern"></a>
        </div>
      </div>
      <div class="collapse navbar-collapse nav-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">Home
              <span class="caret"></span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">Features
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="sub-menu">
                <a href="javascript:void(0);">Header
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="header-default.html">Header Default</a>
                  </li>
                  <li>
                    <a href="header-fixed.html">Header Fixed</a>
                  </li>
                  <li>
                    <a href="header-transparent.html">Header Transparent</a>
                  </li>
                  <li>
                    <a href="header-transparent-fixed.html">Header Transparent Fixed</a>
                  </li>
                  <li>
                    <a href="header-fullwidth.html">Header Full Width</a>
                  </li>
                  <li>
                    <a href="header-logo-center.html">Header Logo Center</a>
                  </li>
                  <li>
                    <a href="header-logo-center-transparent.html">Header Logo Center Transparent</a>
                  </li>
                  <li>
                    <a href="header-side-left.html">Side Menu Left</a>
                  </li>
                  <li>
                    <a href="header-side-right.html">Side Menu Right</a>
                  </li>
                  <li>
                    <a href="header-fullscreen.html">Header Fullscreen</a>
                  </li>
                </ul>
              </li>
              <li class="sub-menu">
                <a href="javascript:void(0);">Slider
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="revolution-slider.html">Revolution slider</a>
                  </li>
                  <li>
                    <a href="swiper.html">Swiper</a>
                  </li>
                </ul>
              </li>
              <li class="sub-menu">
                <a href="javascript:void(0);">Footer
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="footer1.html">Footer 1</a>
                  </li>
                  <li>
                    <a href="footer2.html">Footer 2</a>
                  </li>
                  <li>
                    <a href="footer3.html">Footer 3</a>
                  </li>
                  <li>
                    <a href="footer4.html">Footer 4</a>
                  </li>
                  <li>
                    <a href="footer5.html">Footer 5</a>
                  </li>
                  <li>
                    <a href="footer6.html">Footer 6</a>
                  </li>
                  <li>
                    <a href="footer7.html">Footer 7</a>
                  </li>
                  <li>
                    <a href="footer-reveal.html">Footer Reveal</a>
                  </li>
                </ul>
              </li>
              <li class="sub-menu">
                <a href="javascript:void(0);">Page Tittle
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="sub-menu">
                    <a href="javascript:void(0);">Size
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="page-tittle-sm.html">Page Tittle Small</a>
                      </li>
                      <li>
                        <a href="page-tittle-md.html">Page Tittle Medium</a>
                      </li>
                      <li>
                        <a href="page-tittle-lg.html">Page Tittle Large</a>
                      </li>
                      <li>
                        <a href="page-tittle-xlg.html">Page Tittle Extra Large</a>
                      </li>
                    </ul>
                  </li>
                  <li class="sub-menu">
                    <a href="javascript:void(0);">Alignment
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="page-tittle-left.html">Align Left</a>
                      </li>
                      <li>
                        <a href="page-tittle-right.html">Align Right</a>
                      </li>
                      <li>
                        <a href="page-tittle-center.html">Align Center</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="page-tittle-bg.html">Stactic Background</a>
                  </li>
                  <li>
                    <a href="page-tittle-parallax.html">Parallax</a>
                  </li>
                  <li>
                    <a href="page-tittle-kenburn.html">Kenburn</a>
                  </li>
                  <li>
                    <a href="page-tittle-video.html">Video</a>
                  </li>
                </ul>
              </li>
              <li class="sub-menu">
                <a href="javascript:void(0);">Page loader
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="loader1.html">Page Loader 1</a>
                  </li>
                  <li>
                    <a href="loader2.html">Page Loader 2</a>
                  </li>
                  <li>
                    <a href="loader3.html">Page Loader 3</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown mega-menu">
            <a class="dropdown-toggle" href="javascript:void(0);">Elements
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li class="mega-menu-content">
                <div class="row">
                  <div class="col-md-3">
                    <ul>
                      <li>
                        <a href="accordion.html">Accordion</a>
                      </li>
                      <li>
                        <a href="buttons.html">Buttons</a>
                      </li>
                      <li>
                        <a href="cta.html">Call To Action</a>
                      </li>
                      <li>
                        <a href="columns.html">Columns</a>
                      </li>
                      <li>
                        <a href="content-blocks.html">Content Blocks</a>
                      </li>

                    </ul>
                  </div>
                  <div class="col-md-3">
                    <ul>
                      <li>
                        <a href="counters.html">Counters</a>
                      </li>
                      <li>
                        <a href="features-box.html">Features Box</a>
                      </li>
                      <li>
                        <a href="forms.html">Forms</a>
                      </li>
                      <li>
                        <a href="icons.html">Icons</a>
                      </li>
                      <li>
                        <a href="media.html">Media</a>
                      </li>

                    </ul>
                  </div>
                  <div class="col-md-3">
                    <ul>
                      <li>
                        <a href="message-box.html">Message Box</a>
                      </li>
                      <li>
                        <a href="modal.html">Modal</a>
                      </li>
                      <li>
                        <a href="pricing-table.html">Pricing Table</a>
                      </li>
                      <li>
                        <a href="progress-bar.html">Prgress Bar</a>
                      </li>
                      <li>
                        <a href="rollover.html">Rollover</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <ul>
                      <li>
                        <a href="tabs.html">Tabs</a>
                      </li>
                      <li>
                        <a href="tables.html">Tables</a>
                      </li>
                      <li>
                        <a href="team.html">Team</a>
                      </li>
                      <li>
                        <a href="testimonial.html">Testimonial</a>
                      </li>
                      <li>
                        <a href="typography.html">Typography</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- Header End -->
