<div class="video-background">
      <iframe id="myVideo" src="https://www.youtube.com/embed/-H7KjU7KZUY?controls=0&showinfo=0&rel=0&autoplay=1&mute=1&loop=1&playlist=-H7KjU7KZUY" frameborder="0" allowfullscreen></iframe>
  </div>
  
<script>
  var myVideo =  iframe.getElementById('myVideo');
  myVideo.mute();`
</script>
