<h1>MyTrailBeta</h1>
<h2>Save Settings That Work</h2>
<h3>You know that no two trails are alike and you're constantly in search of the right setting for every trail. Some might even say, "You're a Perfectionist." </h3>
<h3>Get your Bike Dialed for a Trail, Save your Settings with MyTrailBeta, Shred Again and Again.</h3>

<%= link_to "You're a MyTrailBeta kind of rider - So, Get Started", new_user_registration_path, class: 'btn btn-success btn-lg' %>
