<div class="col-sm-6">
<h2>Imagine a Perfect Ride With Settings That Work Every Time</h2>
<h3>You know that no two trails are alike and you're constantly in search of the right bike set up for every trail. Some might even say, "You're a Perfectionist."</h3>
<h3>But really, you just want to get the most out of every ride.</h3>
<hr>
<%= link_to "You're a MyTrailBeta kind of rider - Get Started", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
<h3>Tire Choice, Tire Pressure, Spring Rate, Shock Air Pressure... Everything contributes to that perfect ride.</h3>
<hr>
<h3>Keep your Bike Dialed for Every Trail, Save your Settings with MyTrailBeta, And Shred Happy, Again and Again.</h3>
<br />
<br/>

</div>
