<div class="video-background overlay">
  <iframe id="myVideo" src="https://www.youtube.com/embed/UPAr2cSUcFw?controls=0&showinfo=0&rel=0&autoplay=1&mute=1&loop=1&playlist=UPAr2cSUcFw" frameborder="0" allowfullscreen></iframe>
</div>
<section id="main-home content-02mg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="block">
          <div class="main-text-area">
            <div class="main-text">
              <h2>Imagine a Perfect Ride... Every Time</h2>
              <hr>
              <h4 class="main-p">No two trails are alike and you're constantly in search of the right bike set up. You tinker and test, always in search of that perfect feel.</h4>
              <h4 class="main-p">But really, you just want to get the most out of every ride.</h4>
              <h4 class="main-p">Tire Choice, Tire Pressure, Spring Rate, Shock Air Pressure... Everything contributes to that perfect ride.</h4>
              <hr>
              <%= link_to "Get Started, You're a MyTrailBeta kind of rider", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
              <h3>Save your Perfect Settings by town and trail with MyTrailBeta. Shred Happy, Again and Again.</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6"></div>
    </div>
  </div>
</section>
