<!-- Hero Start -->
        <section id="hero">
            <div class="fs-hero hero-img" style="background-image:url(assets/images/bg-11.jpg)">
                <div class="hero-caption text-white center-left">
                    <h3 class="font-weight-light">Adventure Mind</h3>
                    <h1 class="ls-2">Start Your Journey</h1>
                    <p class="mrg-top-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. printer took a galley of type and scrambled it to make a type .</p>
                    <div class="mrg-top-20">
                        <a href="#" class="btn btn-white-inverse btn-md">Read More</a>
                    </div><!-- margin -->
                </div>
            </div><!-- /hero-img -->
        </section>
        <!-- Hero End -->
        
        
        <!-- About Start -->
        <section class="section-1">
            <div class="container">
                <div class="row">
                	<div class="col-md-offset-2 col-md-8">
                    	<h2 class="heading-1 text-center">Experince The World</h2>
                        <p class="mrg-top-60"><span class="dropcap theme-color">L</span>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived notonly five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Contrary to popular belief, Lorem Ipsum is not simple.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About End -->
        
        
        <!-- Features Start -->
        <section class="section-2">
            <div class="container">
            	<div class="content-block-1">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-responsive" src="assets/images/bg-12.jpg" alt="">
                        </div>
                        <div class="col-md-6">
                            <div class="text-content-right">
                                <h2>Discovering Safari</h2>
                                <p>From <span class="theme-color font-size-23 pdd-left-10"><b>$799</b></span></p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mrg-top-70">
                        <div class="col-md-6">
                            <div class="text-content">
                                <h2>Best Vacation</h2>
                                <p>From <span class="theme-color font-size-23 pdd-left-10"><b>$799</b></span></p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.  </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img class="img-responsive" src="assets/images/bg-13.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="text-center mrg-top-90">
                	<a href="#" class="btn btn-dark-inverse btn-md">View All Pakages</a>
                </div>
            </div>
        </section>
        <!-- Features End -->
        
        
        <!-- Intro Start -->
        <section class="section-3 parallax-bg dark-overlay">
			<img class="parallax-img no-mobile-parallax" src="assets/images/bg-14.jpg" alt="" data-parallax='{"y": 150}'>
            <div class="container">
                <div class="row">
                	<div class="col-md-6">
                		<h2>Why Choose Us</h2>
                        <p class="mrg-top-30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type of type and scrambled the release of Letraset.<p>
                        <p>specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with.</p>
                        <div class="counter-style-1 row">
                            <div class="col-md-4">
                                <h1 class="counter theme-color">181,425</h1>
                                <p>Miled Trevellerd</p>
                            </div>
                            <div class="col-md-4">
                                <h1 class="counter theme-color">52,867</h1>
                                <p>Place Discovered</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Intro End -->
        
        
        <!-- Blog Start -->
        <section class="section-2">
        	<div class="container">
            	<div class="blog-card">
                	<div class="row">
                    	<div class="col-md-4">
                        	<div class="blog-item">
								<div class="blog-wrapper">
									<div class="blog-media">
										<img class="img-responsive" src="assets/images/blog/blog-6.jpg" alt="">
									</div>
									<div class="blog-content">
										<h3 class="blog-tittle"><a href="blog-classic-left-sidebar.html">Travel is Good</a></h3>
										<div class="blog-meta">
											<span>By </span>
											<a href="#"><span class="author">Henry Chew</span></a>
											<span class="pdd-horizon-5">/</span>
											<span class="date"> May 18th 2016</span>
										</div>
										<p class="blog-article">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
										<div class="blog-action">
											<span class="comments"><a href="javascript:void(0);"><i class="ei ei-speech-bubble"></i> 20</a></span>
											<span class="likes"><a href="javascript:void(0);"><i class="ei ei-heart"></i> 168</a></span>
											<a class="continue-reading" href="blog-classic-left-sidebar.html">Read More</a>
										</div>
									</div>
								</div>
							</div>
                        </div>
                        <div class="col-md-4">
                        	<div class="blog-item">
								<div class="blog-wrapper">
									<div class="blog-media">
										<img class="img-responsive" src="assets/images/blog/blog-7.jpg" alt="">
									</div>
									<div class="blog-content">
										<h3 class="blog-tittle"><a href="blog-classic-left-sidebar.html">Love Travels</a></h3>
										<div class="blog-meta">
											<span>By </span>
											<a href="#"><span class="author">Henry Chew</span></a>
											<span class="pdd-horizon-5">/</span>
											<span class="date"> May 18th 2016</span>
										</div>
										<p class="blog-article">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
										<div class="blog-action">
											<span class="comments"><a href="javascript:void(0);"><i class="ei ei-speech-bubble"></i> 20</a></span>
											<span class="likes"><a href="javascript:void(0);"><i class="ei ei-heart"></i> 168</a></span>
											<a class="continue-reading" href="blog-classic-left-sidebar.html">Read More</a>
										</div>
									</div>
								</div>
							</div>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                        	<h2 class="heading-1 mrg-top-120">Travelers Note</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an. </p>
                            <a href="#" class="btn btn-md btn-dark-inverse mrg-top-30">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog End -->
	
